.hero_slider {
    position: relative;
    margin-bottom: 20px;
    padding-top: 20px;
}

.swiper {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.swiper-slide {
    height: 500px;
    display: flex;
    align-items: center;
}

.swiper-slide .content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5%;
}

.swiper-slide .content h4 {
    text-transform: uppercase;
    font-size: 1vw;
    font-weight: normal;
    font-style: italic;
    margin-bottom: 0.5vw;
}

.swiper-slide .content h3 {
    text-transform: capitalize;
    font-size: 3vw;
    color: var(--main_color);
    font-weight: bolder;
    margin-bottom: 30px;
    line-height: 1.1;
    
}

.swiper-slide .content p {
    font-size: 1.1vw;
    margin-top: 2.5vw;
    margin-bottom: 2.5vw;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


