:root {
    --main_color : #0090f0;
    --p_color : #7b7b7b;
    --bg_color : #f3f3f3;
    --white_color : #fff;
    --color_heading : #253237;
    --border_color : #d6d6d6d5;
}


/* Top Header */
.top_header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.top_header img {
    width: 70px;
}

.top_header .search {
    width: 500px;
    display: flex;
    align-items: center;
    background-color: var(--bg_color);
    border: 1px solid var(--main_color);
    border-radius: 30px;
}

.top_header .search input {
    height: 45px;
    width: 440px;
    background-color: var(--bg_color);
    padding: 5px 15px 5px 20px;
    border-radius: 30px 0 0 30px;

}

.top_header .search button {
    height: 45px;
    width: 60px;
    background-color: var(--main_color);
    border-radius: 0 30px 30px 0;
    cursor: pointer;
}

.top_header .search button svg {
    fill: var(--white_color);
    font-size: 16px;

}

.top_header .icons {
    display: flex;
    gap: 30px;
}

.top_header .icons .icon {
    position: relative;
    cursor: pointer;
}

.top_header .icons .icon svg {
    font-size: 30px;
}

.top_header .icons .icon .count {
    position: absolute;
    top: -5px;
    right: -10px;
    background-color: var(--main_color);
    color: var(--white_color);
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    border-radius: 100%;
    font-size: 11px;
}

/* Bottom Header */
.btm_header {
    background-color: var(--main_color);
    height: 60px;
}



.btm_header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.btm_header .nav {
    display: flex;
    align-items: center;
    gap: 30px;
    height: 100%;
}

.btm_header .category {
    width: 220px;
    position: relative;
}

.btm_header .category .category_btn {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    
    
}

.btm_header .category .category_btn svg {
    fill: var(--white_color);
    font-size: 20px;
}

.btm_header .category .category_btn p {
    color: var(--white_color);
}

.btm_header .category .category_data {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--white_color);
    border: 1px solid #999;
    border-top: 0;
    max-height: 400px;
    overflow-y: auto;
    clip-path: polygon(0 0 , 100% 0 , 100% 0 , 0 0);
    transition: 0.50s;
    z-index: 2;
}

.btm_header .category .category_data.active {
    clip-path: polygon(0 0 , 100% 0 , 100% 100% , 0 100%);
    
}

.btm_header .category .category_data ul li {
    padding: 14px 10px;
    border-bottom: 1px solid var(--border_color);
    font-size: 14px;
    cursor: pointer;
    transition: 0.50s;
}

.btm_header .category .category_data ul li:last-child{
    border-bottom: 0;
}

.btm_header .category .category_data ul li:hover {
    background-color: rgba(97, 97, 97, 0.329);
}


.btm_header .nav .links {
    height: 100%;
}

.btm_header .nav .links ul {
    display: flex;
    gap: 25px;
    height: 100%;
    
}

.btm_header .nav .links ul li {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 15px;
    transition: 0.50s;
}

.btm_header .nav .links ul li.active {
    background-color: #0079ca;
}

.btm_header .nav .links ul li:hover {
    background-color: #0079ca;
}

.btm_header .nav .links ul li a {
    color: var(--white_color);
}


.btm_header .reges_icon {
    display: flex;
    gap: 20px;
}

.btm_header .reges_icon svg {
    fill: var(--white_color);
    font-size: 25px;
    cursor: pointer;
}