@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --main_color : #0090f0;
    --p_color : #7b7b7b;
    --bg_color : #f3f3f3;
    --white_color : #fff;
    --color_heading : #253237;
    --border_color : #d6d6d6d5;
}

body {
    background-color: var(--white_color);
    font-family: "Inter", sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
}

img {
    width: 100%;
}

h1 , h2 , h3 , h4 , h5 , h6 {
    color: var(--color_heading);
    font-family: "DM Sans", sans-serif;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--color_heading);
}

p {
    color: var(--p_color);
}

span {
    color: var(--main_color);
}

input , button , select , textarea {
    border: none;
    outline: none;
}

.btn {
    padding: 10px 18px;
    text-transform: capitalize;
    background-color: var(--main_color);
    color: var(--white_color);
    border-radius: 30px;
    cursor: pointer;
    display: flex;
    gap: 10px;
    align-items: center;
    width: max-content;
    transition: 0.50s;

}

.btn:hover {
    transform: scale(1.1);
}